@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-white font-bold text-[75px] leading-[85px];
  }
  h2 {
    @apply text-white font-medium text-[30px] leading-[35px] font-gilroyBold;
  }
  h3 {
    @apply text-white text-[23px] leading-[25.5px] font-gilroy;
  }

  h5 {
    @apply text-white font-normal text-[24px] leading-[26px] font-gilroy;
  }
  h6 {
    @apply text-[12px] leading-[14px] font-medium font-gilroyMedium;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 80px;
    height: 100%;
  }
  span.mark {
    background-image: url("../images/icons/mark-icon.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: visible;
  }
}

@layer components {
  .btn {
    @apply py-4 px-20 block w-fit rounded-lg text-white font-medium uppercase font-gilroyMedium;
  }
  .btn-opacity {
    @apply bg-opacity-0 text-white block uppercase font-bold border-[0.7px] border-white w-full rounded-lg py-3 text-[20px] text-center font-gilroyMedium;
  }
  .program-card {
    @apply relative z-10 flex justify-center items-center;
  }
  form {
    @apply bg-white rounded-lg px-[30px] py-12 flex flex-col gap-5 items-center max-w-[600px];
  }
  form input {
    @apply border-2 border-black w-full rounded-md h-[55px] pl-5;
  }
}

.hero,
.contact-form,
.leadership-program,
.soldier-med {
  height: 870px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-form-content {
  backdrop-filter: blur(13.7px);
}
.leadership-content {
  background-color: rgba(1, 29, 69, 0.8);
}
